<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "sample app", '#', id: "logo" %>
			<nav>
				<ul class="nav nav-pills pull-right", role="tablist">
					<li role="presentation"><%= link_to "Home", root_path %></li>
					<li role="presentation"><%= link_to "Help", help_path %></li>
					<li role="presentation"><%= link_to "Sign in", '#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
